.body {
  display: block;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  font-family: "Dosis";
}

.left {
  width: 35vw;
  height: 100%;
  color: #fff;
  background-color: #840132;
  text-align: center;
}

.left img {
  width: 200px;
  height: 200px;
  margin-top: 20vh;
}

.left p {
  margin-top: 40vh;
}

.login {
  width: 300px;
  margin-left: 20vw;
  padding: 20px;
  height: min-content;
  border-radius: 5px;
  color: black;
  background-color: rgb(203, 203, 203);
}

.login .container {
  display: flex;
}

.login img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 2vh;
}

.login h2 {
  margin-top: 4vh;
  margin-left: 3vh;
}

.btn {
  background-color: #840132;
}

.btn:hover {
  background-color: #d21c5f;
}
